[submodule "pfr"]
	path = pfr
	url = https://github.com/boostorg/pfr
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "mdspan"]
	path = mdspan
	url = https://github.com/kokkos/mdspan
